# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

user            = mysql
port            = 3306
basedir         = /usr
tmpdir          = /tmp

skip-host-cache
skip-name-resolve

# lc-messages-dir = /usr/share/mysql

# init-connect='SET NAMES utf8'

general_log = 1
# general_log_file = /var/log/mysqld/general.log

# log-error = /var/log/mysqld/error.log

# log_output = TABLE,FILE
slow_query_log = ON
# slow_query_log_file = /var/log/mysqld/op-db-slow.log
long_query_time = 2
min_examined_row_limit = 1
log_queries_not_using_indexes = ON
log_slow_admin_statements = ON

character-set-server = utf8mb4
# collation-server = utf8mb4_bin
collation-server = utf8mb4_unicode_ci

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4
